.body{
	background-image: url("https://th.bing.com/th/id/R.57a3c348db90768f8ced5bab237cf219?rik=UQdyiVyIjeSxaQ&riu=http%3a%2f%2f24.media.tumblr.com%2ftumblr_me428bxrBb1r4zr2vo1_r3_500.gif&ehk=Ad7%2fv2MwhUKrlle5TfMjkoTHWk7P435SfAFCJh39t6g%3d&risl=&pid=ImgRaw&r=0");
	background-repeat: no-repeat;
	background-size: cover;
	flex-wrap: wrap;
}
/*
.body{
	flex-wrap: wrap;
}
*/

.formcontact{
/*	width: 60%;*/
	/*margin-left: auto;
	margin-right: auto;*/
	background-color: skyblue;
}
.formcontact input{
	border-radius: 10px;
	height: 40px;
	width: 300px;
/*	border-style: none;*/
	background-color: ghostwhite;
}
.formcontact textarea{
	border-radius: 10px;
	height: 80px;
	width: 300px;
/*	border-style: none;*/
	background-color: whitesmoke;
}
.formcontact button {
	border-radius: 10px;
	height: 30px;
	width: 100px;
	border-style: none;
	background-color: yellow;
}
.formcontact h1{
	text-decoration: underline white;
}
.infocontact h1{
	text-decoration: underline white;
}
.infocontact{
/*	padding-left: ;*/
}
.navbar2{
	background-color: #2f3a55;
	color: white;
	padding-top:10px ;
	padding-bottom:10px;
	font-family: 'Poppins', sans-serif;

}

.navbar2 a{
	text-decoration: none;
	color: white;
	border-style: solid;
	margin-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-top: 10px;
	border-color: white;
	border-radius: 10px;
	background-color: #0a3d62;
	 display: inline-block;   /* or block */
  max-width: 100%;
  box-sizing: border-box;
  word-wrap: break-word;

}
.navbar{
	background-color: #2f3a55;
	color: white;
	padding-top:10px ;
	padding-bottom:10px;
	text-align: right;
	flex-wrap: wrap;
}
@media (max-width: 768px){
  .navbar div{
    flex: 1 1 100%;
  }
}

.navbar a{
	text-decoration: none;
	padding-left: 2px;
	padding-right: 0px;
	color: white;
}
.navbar h1{
	text-align: left;
}
/*java*/
.dropdown {
  position: relative;
  display: inline-block;
  color: white;
}

.dropbtn {
  text-decoration: none;
/*  background-color: #007bff;*/
  color: white;
  background-color: #0a3d62;
  padding-left: 5px;
  border-radius: 5px;
/*  display: inline-block;*/
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #2f3a55;
  min-width: 150px;
  color: white;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  border-radius: 5px;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 10px;
  text-decoration: none;
  display: block;
  color: white;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
  color: black;
}

/* Show when active */
.show {
  display: block;
}
@media (max-width: 768px){
  .container div{
    flex: 1 1 100%;
  }
}


/*java*/
.container{
	display: flex;
	justify-content:space-evenly;
	flex-wrap: wrap;
}
.container div{
	background-color: #2f3a55;

	padding-left: 0px;
	padding-right: 0px;

	flex-wrap: wrap;
	padding-right: 0px;
	text-align: center;
	padding-bottom: 10px;
	box-shadow: 0 2px 6px rgba(0,0,0,0.08); 
  transition: transform 0.18s ease, box-shadow 0.18s ease;
  cursor: pointer;
  color: white;

}





.container div:hover {
	background-color: floralwhite;
  transform: translateY(-6px);                 
  box-shadow: 0 10px 25px rgba(0,0,0,0.18);
  background-color: #07203f;
  color: white;  
    
}
.container div:active {
	transform: translateY(-3px);
  box-shadow: 0 6px 18px rgba(0,0,0,0.16);
.container button{
	border-radius: 20px;
	background-color: darkblue;
	width: 100px;
	height: 30px;
	text-align: center;
	color: white;
}
.container button:active {
	transform: translateY(-3px);
  box-shadow: 0 6px 18px rgba(0,0,0,0.16)
}
.container button:hover{
	transform: translateY(-6px);                  
  box-shadow: 0 10px 25px rgba(0,0,0,0.18)
} 
.container .div2 button2{
	border-radius: 20px;
	background-color: darkblue;
	width: 100px;
	height: 30px;
	text-align: center;
	color: white;
}

@media (max-width: 768px){
  .container div2{
    flex: 1 1 100%;
  }
}

}
.last a{
	text-decoration: none;
	color: white;

}
.last a:hover {
	text-decoration: underline;
}
.downbar{
	background-color: #2f3a55;
	color: white;

}
.container .homeproduct{
	background-color: #2f3a55;
	color: white;
	margin-top: 10px;
}
.container .homeproduct a{
	text-decoration: none;
	text-align: center;
	color: white;

}
.container .homeproduct a:hover{
	text-decoration: underline;
	color: white;

}

.Brochtur{
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
	margin-top: 30px;
/*	padding-top: 30px;*/
/*	padding-bottom: 30px;*/

}
.Brochtur a{
	color: white;
}

.buynow input{
	border-radius: 10px;
	height: 40px;
	width: 270px;
/*	border-style: none;*/
	background-color: ghostwhite;

}
.buynow textarea{
	border-radius: 10px;
	height: 80px;
	width: 270px;
/*	border-style: none;*/
	background-color: ghostwhite;
}
.buynow button{
	border-radius: 10px;
	height: 40px;
	width: 120px;
	border-style: none;
	background-color: yellow;
	color: black;
}
.buynow{
	background-color: #2f3a55;
	padding-top: 50px;
	padding-bottom: 50px;
	display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 150px;


}
/*.body2{
	background-color:#2f3a55 ;
}
*/
.buynow h2{
	color: white;
}

