.formcontact{
/*	width: 60%;*/
	/*margin-left: auto;
	margin-right: auto;*/
	background-color: skyblue;
}
.formcontact input{
	border-radius: 10px;
	height: 40px;
	width: 160px;
/*	border-style: none;*/
	background-color: ghostwhite;
}
.formcontact textarea{
	border-radius: 10px;
	height: 80px;
	width: 330px;
/*	border-style: none;*/
	background-color: whitesmoke;
}
.formcontact button {
	border-radius: 10px;
	height: 30px;
	width: 100px;
	border-style: none;
	background-color: yellow;
}
.formcontact h1{
	text-decoration: underline blue;
}
.infocontact h1{
	text-decoration: underline blue;
}
.infocontact{
/*	padding-left: ;*/
}
.navbar{
	background-color: #ffb142;
	padding-top:10px ;
	padding-bottom:10px;
	text-align: right;
	width: 100%;
}
.navbar a{
	text-decoration: none;
	padding-left: 5px;
	
	color: black;
}
.navbar h1{
	text-align: left;
}
/*java*/
.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  text-decoration: none;
/*  background-color: #007bff;*/
/*  color: white;*/
  padding-left:5px;
  border-radius: 5px;
/*  display: inline-block;*/
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 150px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  border-radius: 5px;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 10px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Show when active */
.show {
  display: block;
}

/*java*/
.container{
	display: flex;
	justify-content:space-evenly;
	flex-wrap: wrap;
}
.container div{
	background-color: whitesmoke;
/*	width: 20%;*/
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;
	padding-bottom: 10px;
	box-shadow: 0 2px 6px rgba(0,0,0,0.08); 
  transition: transform 0.18s ease, box-shadow 0.18s ease;
  cursor: pointer;
}
.container div:hover {
	background-color: floralwhite;
  transform: translateY(-6px);                 
  box-shadow: 0 10px 25px rgba(0,0,0,0.18);
  background-color: #ffb142;  
    
}
.container div:active {
	transform: translateY(-3px);
  box-shadow: 0 6px 18px rgba(0,0,0,0.16);
.container button{
	border-radius: 20px;
	background-color: darkblue;
	width: 100px;
	height: 30px;
	text-align: center;
	color: white;
}
.container button:active {
	transform: translateY(-3px);
  box-shadow: 0 6px 18px rgba(0,0,0,0.16)
}
.container button:hover{
	transform: translateY(-6px);                  
  box-shadow: 0 10px 25px rgba(0,0,0,0.18)
} 
.container .div2 button2{
	border-radius: 20px;
	background-color: darkblue;
	width: 100px;
	height: 30px;
	text-align: center;
	color: white;
}


}
.last a{
	text-decoration: none;
	color: white;

}
.last a:hover {
	text-decoration: underline;
}
.downbar{
	background-color: darkblue;
	color: white;

}
.container .homeproduct{
	background-color: whitesmoke;
	margin-top: 10px;
}
.container .homeproduct a{
	text-decoration: none;
	text-align: center;
	color: black;

}
.container .homeproduct a:hover{
	text-decoration: underline;
	color: black;

}

.Brochtur{
	margin-left: auto;
	margin-right: auto;
}




